doctype html
head
    title ERT Concierge: Babylon
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css")
body
    .sidebar#users
    //- .icon
    //-     img(src="https://avatars3.githubusercontent.com/u/10081540?s=460&u=87b46608046213f09eb503f89ffc7a870ca6ebed&v=4")
    //- .icon
    //-     p A
    .window
        .header
            .window-drawer
            //- .tab Hi
        .body
            #chat
                //- .messages
                //-     //- .entry
                //-     //-     .name Name
                //-     //-     .text Text
                //- .input
                //-     input
                //-     .button ▶
    canvas#renderCanvas
    script(src="https://preview.babylonjs.com/earcut.min.js")
    script(src="https://preview.babylonjs.com/babylon.js")
    script(src="https://cdn.babylonjs.com/gui/babylon.gui.min.js")

