.tab
    .planetary-controls
        .icons
            i.fa.fa-fast-backward#planetary-fb
            i.fa.fa-pause#planetary-pause
            i.fa.fa-play#planetary-play
            i.fa.fa-fast-forward#planetary-ff
        .info
        .box Planetary Simulation by Alison Noyes