$drawer-height: 40px;

@mixin small-screen {
    @media screen and (max-width: 500px) {
        @content;
    }
}

.window {
    z-index: 100;
    position: fixed;
    display: flex;
    bottom: 0;
    width: 400px;
    height: 500px;
    max-height: 100%;
    box-sizing: border-box;
    transition: margin-left 0.5s, margin-bottom 0.5s;
    flex-direction: column;
    font-family: "Titillium Web", "Roboto", sans-serif;

    &.left {
        left: 50px;
    }

    &.right {
        right: 50px;
        .header {
            flex-direction: row-reverse;
        }
    }

    @include small-screen {
        left: 0;
        right: 0;
        bottom: 0;
        height: 50vh;
        width: 100vw;
    }

    &.hidden {
        margin-bottom: calc(
            max(
                -500px + #{$drawer-height},
                -100vh + #{$drawer-height}
            )
        );

        @include small-screen {
            bottom: 0;
            margin-left: 0;
            margin-bottom: calc(-50vh + $drawer-height);
        }
    }

    .header {
        min-height: $drawer-height;
        height: $drawer-height;
        max-height: $drawer-height;
        margin-left: 5px;
        margin-right: 5px;
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        overflow-y: hidden;
        width: auto;

        &::-webkit-scrollbar {
            width: 5px;
            height: 5px;
        }
        &::-webkit-scrollbar-track {
            background: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background: #aaa;
            border-radius: 5px;
            &:hover {
                background: #bbb;
            }
        }

        .tab {
            display: inline;
            max-height: $drawer-height;
            line-height: $drawer-height;
            background: transparent;
            // border-radius: 5px 5px 0 0;
            text-align: center;
            padding: 0px 10px 0px;
            color: #ccc;
            cursor: pointer;
            transition: background-color 0.2s, color 0.2s;
            white-space: nowrap;
            &:hover {
                color: white;
            }
            &.active {
                @extend :hover;
                font-weight: bold;
            }
        }

        .window-drawer {
            @extend .tab;
            margin-top: 0;
            background: none;
            color: white;
            min-width: $drawer-height;
            width: $drawer-height;
            padding: 0;
        }
    }

    .body {
        background: #ccc;
        height: 100%;
        width: 100%;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
        color: black;

        .tab {
            height: 100%;
            width: 100%;
            display: none;
            &.active {
                display: inherit;
            }
        }
    }
}