$drawer-height: 40px;

@mixin small-screen {
    @media screen and (max-width: 500px) {
        @content;
    }
}

.window {
    z-index: 100;
    position: fixed;
    display: flex;
    bottom: 0;
    width: 400px;
    height: 500px;
    max-height: 100%;
    padding: 5px;
    box-sizing: border-box;
    transition: margin-left 0.5s, margin-bottom 0.5s;
    flex-direction: column;

    &.left {
        left: 0;
    }

    &.right {
        right: 0;
        .header {
            flex-direction: row-reverse;
        }
    }

    @include small-screen {
        bottom: 0;
        height: 50vh;
        width: 100vw;
    }

    &.hidden {
        margin-bottom: calc(
            max(
                -500px + #{$drawer-height + 5px},
                -100vh + #{$drawer-height + 5px}
            )
        );

        @include small-screen {
            bottom: 0;
            margin-left: 0;
            margin-bottom: calc(-50vh + #{$drawer-height + 5px});
        }
    }

    .header {
        min-height: $drawer-height;
        height: $drawer-height;
        max-height: $drawer-height;
        margin-left: 5px;
        margin-right: 5px;
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        overflow-y: hidden;
        width: auto;

        .tab {
            margin-top: 5px;
            display: inline;
            max-height: $drawer-height;
            background: #222;
            line-height: $drawer-height;
            border-radius: 5px 5px 0 0;
            text-align: center;
            padding: 0px 10px 0px;
            color: white;
            font-family: monospace;
            cursor: pointer;
            transition: background-color 0.2s, margin-top 0.2s;
            &.active {
                margin-top: 0;
                background: #555;
            }
        }

        .window-drawer {
            @extend .tab;
            margin-top: 0;
            background: green;
            min-width: 80px;
            width: 80px;
            max-width: 80px;
            padding: 0;
        }
    }

    .body {
        background: white;
        height: 100%;
        width: 100%;
        border-radius: 5px;
        overflow: hidden;
        color: black;

        .tab {
            height: 100%;
            width: 100%;
            display: none;
            &.active {
                display: inherit;
            }
        }
    }
}