$drawer-height: 40px;
$normal-height: 500px;
$tall-height: $normal-height + 300px;

@mixin small-screen {
    @media screen and (max-width: 500px) {
        @content;
    }
}
.float-window {
    z-index: 100;
    position: fixed;
    display: flex;
    bottom: 0;
    width: 400px;
    max-height: 100%;
    box-sizing: border-box;
    transition: margin-left 0.5s, margin-bottom 0.5s;
    flex-direction: column;
    font-family: "Titillium Web", "Roboto", sans-serif;

    &.left {
        left: 50px;
    }

    &.right {
        right: 50px;
        .window-header {
            flex-direction: row-reverse;
        }
    }

    @include small-screen {
        left: 0 !important;
        right: 0;
        bottom: 0;
        height: 50vh;
        width: 100vw;
    }
}