.tab
    .planetary-controls
        .icons
            i.fa.fa-fast-backward#planetary-fb
            i.fa.fa-pause#planetary-pause
            i.fa.fa-play#planetary-play
            i.fa.fa-step-forward#planetary-sf
            i.fa.fa-fast-forward#planetary-ff
        .info
        .box
            h1 
                | Upload JSON System
            form#planetary-upload
                input#file(type="file" name="file")
                button(type="submit") Submit
        .box Planetary Simulation by Alison Noyes