.window-tab.planetary-controls
    .window-tab-header
        .icons
            i.fa.fa-fast-backward.planetary-fb
            i.fa.fa-pause.planetary-pause
            i.fa.fa-play.planetary-play
            i.fa.fa-step-forward.planetary-sf
            i.fa.fa-fast-forward.planetary-ff
        .info
    .window-tab-body
        .window-tab-box
            h2 Upload JSON System
            form.planetary-upload
                input.file(type="file" name="file")
                button(type="submit") Submit
        .window-tab-box
            h2 Planetary Simulation
            p Python Simulation by Alison Noyes
            p BabylonJS frontend by An Tran