.name
    .value(var="name")
.entry
    .name Mass
    .value
        input(var="mass")
.entry
    .name Radius
    .value
        input(var="radius")
.entry
    .name Location
    .value
        input(var="location[0]")
        input(var="location[1]")
        input(var="location[2]")
.entry
    .name Orbit Radius
    .value
        input(var="orbitRadius")
.entry
    .name Orbit Speed
    .value
        input(var="orbitSpeed")
.entry
    .name Orbit Direction
    .value
        input(var="direction[0]")
        input(var="direction[1]")
        input(var="direction[2]")