.name
    .value(var="name")
.entry
    .name Mass
    .value
        input(var="mass")
.entry
    .name Radius
    .value
        input(var="radius")
.entry
    .name Location
    .value
        input(var="location[0]", readonly="always")
        input(var="location[1]", readonly="always")
        input(var="location[2]", readonly="always")
.entry
    .name Orbit Radius
    .value
        input(var="orbitRadius")
.entry
    .name Orbit Speed
    .value
        input(var="orbitSpeed")