.name 
    .value System Data
.entry
    .name Gravity Constant
    .value
        input(var="gravityConstant")
.entry
    .name Scale
    .value
        input(var="scale")
.entry
    .name Time Scale
    .value
        input(var="timeScale")
.entry
    .name Body Scale
    .value
        input(var="bodyScale")
.entry
    .name Central Body Scale
    .value
        input(var="centralBodyScale")
.entry
    .name Elasticity
    .value
        input(var="elasticity")
.entry
    .name Central Body Name
    .value
        input(var="centralBodyName", readonly)
.entry
    .name Hand Mass
    .value
        input(var="handMass", readonly)
.entry
    .name Boundary
    .value
        input(var="boundary")