$drawer-height: 40px;
$normal-height: 500px;
$tall-height: $normal-height + 300px;

.tabbed {
    height: auto;
    width: 100%;

    &.hidden {
        > .tabbed-content {
            display: none;
        }

        > .tabbed-header > .tabbed-drawer {
            transform: rotate(180deg);
        }
    }

    > .tabbed-header {
        min-height: $drawer-height;
        height: $drawer-height;
        max-height: $drawer-height;
        margin-left: 5px;
        margin-right: 5px;
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        overflow-y: hidden;
        width: auto;
        text-shadow: 0px 0px 5px black;

        &::-webkit-scrollbar {
            width: 5px;
            height: 5px;
        }
        &::-webkit-scrollbar-track {
            background: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background: #666;
            border-radius: 5px;
            &:hover {
                background: #777;
            }
            &:active {
                background: #888;
            }
        }

        > .tabbed-header-label {
            display: inline;
            max-height: $drawer-height;
            line-height: $drawer-height;
            background: transparent;
            // border-radius: 5px 5px 0 0;
            text-align: center;
            padding: 0px 10px 0px;
            color: #ccc;
            cursor: pointer;
            transition: background-color 0.2s, color 0.2s;
            white-space: nowrap;
            &:hover {
                color: white;
            }
            &.active {
                @extend :hover;
                font-weight: bold;
            }
        }

        > .tabbed-drawer {
            @extend .tabbed-header-label;
            margin-top: 0;
            background: none;
            color: white;
            min-width: $drawer-height;
            width: $drawer-height;
            padding: 0;
            transition: transform 0.5s;
        }
    }

    > .tabbed-content {
        background: #bbbe;
        width: 100%;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
        color: black;
        display: flex;
        position: relative;
        
        > .tabbed-body {
            height: 100%;
            width: 100%;
            display: none;
            &.active {
                display: inherit;
            }
        }
    }
}