$header-height: 40px;

.tabbed {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;

    &.hidden {
        > .tabbed-content {
            display: none;
        }

        > .tabbed-header > .tabbed-drawer {
            transform: rotate(180deg);
        }
    }

    > .tabbed-header {
        margin-left: 5px;
        margin-right: 5px;
        flex: 0 0 $header-height;
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        overflow-y: hidden;
        width: auto;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

        &::-webkit-scrollbar {
            width: 5px;
            height: 5px;
        }
        &::-webkit-scrollbar-track {
            background: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background: #666;
            border-radius: 5px;
            &:hover {
                background: #777;
            }
            &:active {
                background: #888;
            }
        }

        > .tabbed-header-label {
            display: inline;
            line-height: $header-height;
            background: transparent;
            text-align: center;
            padding: 0px 10px 0px;
            color: #ccc;
            cursor: pointer;
            transition: color 0.2s;
            white-space: nowrap;
            &:hover, &.active {
                color: white;
            }
        }

        > .tabbed-drawer {
            @extend .tabbed-header-label, .active;
            min-width: $header-height;
            width: $header-height;
            padding: 0;
            transition: transform 0.5s cubic-bezier(.5,-0.5,.5,1.5);
        }
    }

    > .tabbed-content {
        background: #bbb;
        width: 100%;
        // border-radius: 5px 5px 0 0;
        border-radius: 5px;
        overflow: hidden;
        color: black;
        display: flex;
        position: relative;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
        
        > .tabbed-body {
            height: 100%;
            width: 100%;
            display: none;
            &.active {
                display: inherit;
            }
        }
    }
}