$drawer-height: 40px;

@mixin small-screen {
    @media screen and (max-width: 500px) {
        @content;
    }
}

body {
    height: 100vh;
    width: 100vw;
}

.sidebar {
    z-index: 100;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    width: 70px;
    height: 100%;
    flex-direction: column;
    padding: 15px;
    overflow: auto;
    
    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background: #444;
        border-radius: 5px;
        &:hover {
            background: #555;
        }
    }
    
    .icon {
        flex: 0 0 auto;
        width: 70px;
        height: 70px;
        margin-bottom: 10px;
        box-sizing: border-box;
        position: relative;

        &:hover {
            .tooltip {
                visibility: visible;
                opacity: 1;
            }
        }

        .tooltip {
            visibility: hidden;
            opacity: 0;
            position: absolute;
            transition: opacity .6s;
            z-index: 101;
            width: calc(100% + 20px);
            margin-left: -10px;
            text-align: center;
            margin-top: 5px;
            border-radius: 5px;
            font-family: monospace;
            padding: 5px 0;
            background-color: rgb(64, 69, 72);
            color: white;
            word-break: break-all;
            

            &::after {
                content: "";
                position: absolute;
                bottom: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: transparent transparent #555 transparent;
            }
        }
        
        img {
            height: 100%;
            width: 100%;
            background: black;
            border-radius: 50%;
            cursor: pointer;
            transition: border-radius 0.2s;

            &:hover {
                border-radius: 10px;
            }
        }
        
        p {
            @extend img;

            color: white;
            line-height: 70px;
            text-align: center;
            font-size: 40px;
            font-family: sans-serif;
            user-select: none;
        }
    }
}

.window {
    z-index: 100;
    position: fixed;
    display: flex;
    bottom: 0;
    width: 400px;
    height: 500px;
    max-height: 100%;
    padding: 5px;
    box-sizing: border-box;
    transition: margin-left 0.5s, margin-bottom 0.5s;
    flex-direction: column;
    
    &.left {
        left: 0;
    }
    &.right {
        right: 0;
    }

    @include small-screen {
        bottom: 0;
        height: 50vh;
        width: 100vw;
    }

    &.hidden {
        margin-bottom: calc(max(-500px + #{$drawer-height + 5px}, -100vh + #{$drawer-height + 5px}));

        @include small-screen {
            bottom: 0;
            margin-left: 0;
            margin-bottom: calc(-50vh + #{$drawer-height + 5px});
        }
    }
    
    .header {
        min-height: 40px;
        margin-left: 5px;
        margin-right: 5px;
        display: flex;
        flex-direction: row;

        .window-drawer {
            background: green;
            height: $drawer-height;
            width: 80px;
            text-align: center;
            line-height: 30px;
            border-radius: 5px 5px 0 0;
            cursor: pointer;
        
            @include small-screen {
                bottom: 40px;
                left: 15px;
            }
        }
        
        .tab {
            background: grey;
            line-height: 40px;
            border-radius: 5px 5px 0 0;
        }
    }

    .body {
        background: white;
        height: calc(100% - 40px);
        border-radius: 5px;
        overflow: hidden;
        color: black;
    }
}

#chat {
    background: #111;
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: monospace;

    .input {
        position: relative;
        background: #444;
        display: flex;
        width: 100%;
        height: 0px;
        bottom: 50px;
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;

        input {
            background: #444;
            color: white;
            border: 0;
            padding: 5px;
            box-sizing: border-box;
            height: 40px;
            width: 100%;
            border-radius: 5px 0 0 5px;
            outline: none;
            font-family: monospace;
        }

        .button {
            line-height: 40px;
            text-align: center;
            height: 40px;
            width: 40px;
            border-radius: 0 5px 5px 0;
            background: green;
            user-select: none;
            cursor: pointer;
            
            &:hover {
                background: #3a3;
            }
        }
    }

    .messages {
        padding: 15px;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        position: relative;
        overflow: auto;

        &::-webkit-scrollbar {
            width: 10px;
        }
        &::-webkit-scrollbar-track {
            background: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background: #444;
            border-radius: 5px;
            &:hover {
                background: #555;
            }
        }

        .entry {
            display: flex;
            max-width: 90%;
            flex-direction: column;
            align-self: flex-start;

            &:last-child {
                margin-bottom: 40px;
            }

            &.you {
                align-self: flex-end;
                .name {
                    text-align: right;
                }
                .text {
                    border-radius: 5px 0px 5px 5px;
                    align-self: flex-end;
                }
            }
            
            &.status {
                width: 100%;
                max-width: 100%;
                
                .text {
                    text-align: center;
                    background: none;
                    margin: 0;
                    padding: 0;
                    color: #888;
                }
            }
            .name {
                text-align: left;
                margin: 10px 10px 0px;
            }
            .text {
                border-radius: 0 5px 5px;
                background: #333;
                padding: 10px;
                word-break: break-all;
                margin: 5px;
            }
        }
    }
}
