.planetary-controls {
    overflow: auto;

    .planetary-upload {
        display: flex;

        input[type="file"] {
            flex: 1 0 0;
            align-self: center;
        }
    }

    #icons {
        justify-content: space-evenly;

        i {
            font-size: 30px;
            opacity: 0.5;
            transition: transform 0.2s;
            cursor: pointer;
            
            &:hover {
                transform: scale(1.2);
            }
        }
    }
}