doctype html
head
    title ERT Concierge: Babylon
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto&display=swap")
body
    .login-container
        .title ERT Concierge / Babylon.JS
        .form
            .input-entry
                .name Server
                input#server-input(placeholder="Server address...")
            .input-entry
                .name Username
                input#username-input(placeholder="Insert username here...")
            button.enter-button Enter
            .error-field
