doctype html
head
    title ERT Concierge: Babylon
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap")
    script(defer, src="https://preview.babylonjs.com/earcut.min.js")
    script(defer, src="https://preview.babylonjs.com/babylon.js")
    script(defer, src="https://cdn.babylonjs.com/gui/babylon.gui.min.js")
body
    .sidebar#users
    .window.left#chat-window
        .header
            .window-drawer
                i.fa.fa-caret-up
        .body
            .tab(label="Chat", tag="chat")
                #chat
                    .messages
            //- .tab(label="Groups", tag="groups")
            //-     | Coming soon
    .window.right#control-window
        .header
            .window-drawer
                i.fa.fa-caret-up
        .body
            .tab(label="About", tag="about")
                .about-tab
                    .box 
                        h1 ERT Concierge / BabylonJS Frontend
                        p SURF 2020 / OVRAS
                    .box
                        h1 Santiago Lombeyda
                        p Mentor
                    .box
                        h1 An Tran
                        p Intern
                    .box
                        h1 Front-end
                        p Pug/SCSS/TypeScript + Webpack
                    .box
                        h1 Back-end
                        p Rust
                        
    canvas#renderCanvas

